@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  background-color: #e9e9e9;
}

.navbar-wrapper {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 2em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 9999;
}

.navbar-wrapper .navbar-logo {
  color: white;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-wrapper .navbar-mn {
  display: none;
}

.navbar-wrapper .navbar-menu a {
  margin-right: 20px;
  font-size: 23px;
  color: #258541;
  text-decoration: none;
}

.navbar-menu-list {
  position: relative;
  display: none;
  background: red;
  width: 100%;
  z-index: 10;
}

.navbar-menu-list .list a {
  color: black;
  text-decoration: none;
}

.banner-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 3em;
  background: url("../assets/bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.banner-wrapper .banner-text {
  margin-top: 13%;
  color: white;
}

.banner-wrapper .banner-text .banner-title {
  font-size: 20pt;
  font-family: 'Sansita Swashed', cursive;
}

.banner-wrapper .banner-text .button {
  margin-top: 10%;
  text-align: center;
  background: white;
  width: 40%;
  border: 2px solid #258541;
  border-radius: 20px;
  padding: 0.5em;
  font-size: 30px;
  color: #258541;
}

.banner-wrapper .button:hover {
  background-color: #258541;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}

.banner-wrapper img {
  width: 50%;
}

.answere-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 3em;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e9e9e9;
}

.answere-wrapper .answere-top {
  -ms-grid-column-align: center;
      justify-self: center;
}

.answere-wrapper .answere-top h1 {
  font-family: 'Inter', sans-serif;
}

.answere-wrapper .answere-top span {
  color: #258541;
}

.answere-wrapper .answere-top h1, .answere-wrapper .answere-top p {
  text-align: center;
}

.answere-wrapper .answere-fasilitas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.answere-wrapper .answere-fasilitas .fasilitas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em;
  padding: 1em;
  background-color: #fff;
  border: 1px solid black;
  height: 18em;
  -webkit-box-shadow: -2px -2px 10px -5px black;
          box-shadow: -2px -2px 10px -5px black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.answere-wrapper .answere-fasilitas .fasilitas i, .answere-wrapper .answere-fasilitas .fasilitas h3, .answere-wrapper .answere-fasilitas .fasilitas p {
  text-align: center;
}

.answere-wrapper .answere-fasilitas .fasilitas i {
  font-size: 35pt;
  color: #cccccc;
  margin: 0.3em;
}

.answere-wrapper .answere-fasilitas .fasilitas h3 {
  font-size: 25pt;
  font-family: 'Inter', sans-serif;
}

.answere-wrapper .answere-fasilitas .fasilitas:hover {
  background-color: #258541;
  background-image: url("../assets/card.png");
}

.answere-wrapper .answere-fasilitas .fasilitas:hover i, .answere-wrapper .answere-fasilitas .fasilitas:hover h3, .answere-wrapper .answere-fasilitas .fasilitas:hover p {
  color: white;
}

.answere-wrapper .answere-fasilitas .fasilitas:hover h3 {
  color: black;
}

.master-school {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
}

.master-school .master img {
  width: 90%;
}

.master-school .master-desc {
  padding: 0 5em 0em 0em;
  margin-top: 5%;
}

.master-school .master-desc h1 {
  font-size: 35pt;
  font-family: 'Inter', sans-serif;
}

.master-school .master-desc span {
  color: #258541;
}

.master-school .master-desc h3 {
  color: #258541;
  margin-bottom: 8%;
  font-size: 28px;
}

.master-school .master-desc p {
  font-size: 20px;
}

.master-school .master-desc .kepala {
  margin: 2em 0;
}

.master-school .master-desc .buttom {
  background: #258541;
  color: white;
  border: 1px solid #258541;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 1em;
  border-radius: 15px;
  text-decoration: none;
}

.master-school .master-desc .buttom:hover {
  background: white;
  color: #258541;
}

.master-school > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news-wrapper {
  position: relative;
  overflow: hidden;
  background: #eeeeee;
  padding: 3em;
  z-index: 10;
}

.news-wrapper .news-top {
  text-align: center;
  padding: 3em;
}

.news-wrapper .news-top span {
  color: #258541;
}

.news-wrapper .news-top p {
  padding: 0 5em;
}

.news-wrapper .news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.news-wrapper .news-cards .news {
  padding: 0 1em;
}

.news-wrapper .news-cards .news .news-img {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.news-wrapper .news-cards .news .news-img .img-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #258541;
}

.news-wrapper .news-cards .news .news-img img {
  position: relative;
  height: 250px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-wrapper .news-cards .news .news-img:hover .img-hover {
  display: block;
}

.news-wrapper .news-cards .news .news-img:hover img {
  -webkit-transform: rotate(20deg) scale(2, 2);
          transform: rotate(20deg) scale(2, 2);
}

.qoutes-wrapper {
  position: relative;
  background: white;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qoutes-wrapper .bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/card.png");
}

.qoutes-wrapper .qoutes {
  position: absolute;
  width: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  z-index: 3;
  color: white;
}

.qoutes-wrapper .qoutes p {
  font-weight: 900;
  font-size: 25pt;
}

.gallery-wrapper {
  background: #fff;
  position: relative;
  z-index: 10;
  padding: 3em;
}

.gallery-wrapper h1 {
  font-size: 30pt;
  text-align: center;
}

.gallery-wrapper h1 span {
  color: #258541;
}

.gallery-wrapper .galleres {
  padding: 4em;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  gap: 10px;
      grid-template-areas: "a a b c" "a a d e" "f g h i" "j k l m";
}

.gallery-wrapper .galleres img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.gallery-wrapper .galleres .five {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.gallery-wrapper .galleres .one {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: b;
}

.gallery-wrapper .galleres .two {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: c;
}

.gallery-wrapper .galleres .three {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: d;
}

.gallery-wrapper .galleres .four {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: e;
}

.gallery-wrapper .galleres .siz {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: f;
}

.gallery-wrapper .galleres .seven {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: g;
}

.gallery-wrapper .galleres .eight {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: h;
}

.gallery-wrapper .galleres .nine {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: i;
}

.gallery-wrapper .galleres > img {
  background: red;
}

.footer-wrapper {
  background: #3d3d3d;
  position: relative;
  z-index: 10;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-wrapper a {
  font-size: 20pt;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-wrapper a .fab {
  margin: 0 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #636363;
  padding: 0.5em;
  border-radius: 50px;
}

@media only screen and (max-width: 400px) {
  .navbar-wrapper .navbar-menu {
    display: none;
  }
  .navbar-wrapper .navbar-mn {
    display: block;
    color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 25pt;
  }
  .navbar-menu-list {
    display: none;
    position: fixed;
    background: white;
    top: 3.8em;
    border: 1px solid black;
    text-align: center;
    z-index: 999;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar-menu-list .list:hover a {
    color: #258541;
  }
  .banner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #258541;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-wrapper .banner-text .button {
    width: 100%;
  }
  .banner-wrapper img {
    width: 100%;
  }
  .answere-wrapper .answere-fasilitas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .master-school {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .master-school .master-desc {
    padding: 2em;
    text-align: center;
    overflow: hidden;
  }
  .news-wrapper {
    padding: 1em;
  }
  .news-wrapper .news-top {
    text-align: center;
    padding: 0;
  }
  .news-wrapper .news-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-wrapper .news-cards .news {
    margin: 1em 0;
  }
  .gallery-wrapper .galleres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    height: 100%;
  }
}
/*# sourceMappingURL=index.css.map */